
/* Imagen en la parte superior */
.main-image {
    width: 100%;
    height: auto;
}

/* Estilos para los botones */
.buttons-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.image-container {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

/* Estilos para las imágenes */
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transición suave de opacidad */
}

/* Imagen 1 visible por defecto */
.img1 {
    opacity: 1;
}

/* Imagen 2 oculta por defecto */
.img2 {
    opacity: 0;
}

/* Cambio de visibilidad en hover */
.image-container:hover .img1 {
    opacity: 0;
}

.image-container:hover .img2 {
    opacity: 1;
}

